body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F79%2F26%2FOR6dW5.jpg&f=1&nofb=1&ipt=35a9b9bde810f3bdee264b7ae49ba9cbafcd6ba8dd73b4c55c156e3bc8bb5505&ipo=images");
}

.allcontent {
    width: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcreativity103.com%2Fcollections%2FPaper%2Frough_paper.jpg&f=1&nofb=1&ipt=ca1e7f2653aeb8665e919f3be8f037cacae266aaa642d6bef12a41fa54ecf957&ipo=images");
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.description {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.title_input {
    width: 500px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.story_input {
    width: 500px;
    height: 300px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown {
    margin-top: 20px;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    display: block;
}

.select {
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.submit {
    width: 200px;
    height: 60px;
    font-size: 25px;
    background-color: rgb(114, 56, 12);
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
    margin-top: 4%;
    display: inline-block;
}

.buttonbox {
    width: 343px;
    display: inline-block;
    text-align: right;
}

.loader {
    border: 16px solid burlywood;
    border-top: 16px solid rgb(114, 56, 12);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}


@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.images {
    width: 400px;
    display: block;
    margin: auto;
    padding: 10px;
    opacity: 0.85;
}

.storytext {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15%;
    opacity: 0.85;
}

.resultstory {
    width: 1000px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 60px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcreativity103.com%2Fcollections%2FPaper%2Frough_paper.jpg&f=1&nofb=1&ipt=ca1e7f2653aeb8665e919f3be8f037cacae266aaa642d6bef12a41fa54ecf957&ipo=images");
    padding: 50px;
}

.imagesdiv{
    float:right;
    width:500px;
    height:500px;
    overflow-x:hidden;
    overflow-y:auto;
}

.result-text{
    float:left;
    width: 500px;
    word-wrap: break-word;
    font-size: 35px;
    overflow-x:hidden;
    overflow-y:auto;
}

.titlebox {
    background-image: url("/staticFiles/resources/images_Textures_book_14_book-3733315573.jpeg");
    width: 600px;
    height: 100px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    display: table;
}

.resulttitle {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin:auto;
    vertical-align: middle;
    display: table-cell;
    color: burlywood;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;  
}

