body {
    margin-top: 2%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.title_input {
    width: 500px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.story_input {
    width: 500px;
    height: 300px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.styletext {
    font-size: 20px;
    font-weight: bold;
}

.stylechoice {
    font-size: 20px;
}

.submit {
    display: inline;
    font-size: 25px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
    margin-top: 4%;
}

.description {
    margin-top: 0px;
    width: 850px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.container {
    display:flex;
}

.resulttitle {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.storytext {
    text-align: center;
    font-size: 50px;
    font-family: "Tangerine", 'Times New Roman', Times, serif;
}

.dropdown {
    margin-top: 20px;
}

.dropdown-content a {
    color: black;
    display: block;
}

.select {
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}